## Ignore all files in the node_modules folder
node_modules/

## Ignore all yarn files
yarn.lock

## Ignore all vscode files
.vscode/

## Ignore all .env files
.env

## Ignore sqlite database
prisma/dev.db
